@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}

@layer base {
    /* Custom scrollbar styles */
    ::-webkit-scrollbar {
      width: 10px;
      
    }
    ::-webkit-scrollbar-thumb {
      background-color: #363055;
      border-radius: 5px;
    } 
    ::-webkit-scrollbar-thumb:hover {
      background-color: #555;
    }
  }
  